body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "IBM Plex Mono", monospace;
  color: #03a062;
}

.information-container {
  position: fixed;
  top: 10vh;
  left: 10vw;
  padding: 20px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
}
